---
import { marked } from "marked";

const response = await fetch("https://graphql.datocms.com/", {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
    Accept: "application/json",
    Authorization: `Bearer ${import.meta.env.DATO_API_KEY}`,
  },
  body: JSON.stringify({
    query: `
      query {
        allBlogposts {
          id
          title
          photo {
            id
          }
          blogtext
          date
        }
      }
    `,
  }),
});
const { data } = await response.json();
const markdownBlog = data.allBlogposts[0].blogtext;

const content = marked(markdownBlog);

// const json = await response.json();
// const data = json.data.allBlogposts;
---

<h2>{data.allBlogposts[0].title}</h2>
<article set:html={content} />

<style>
  h2 {
    color: white;
    font-size: 5rem;
  }
</style>
