<nav>
  <ul>
    <li class="desktop-home-button">
      <a href="/">I <img src="heart.svg" alt="love" /> Home</a>
    </li>
    <!-- <li class="mobile-home-button">
      <div class="heart"></div>
      <a href="/">Home</a>
    </li> -->
    <li>
      <a href="/">I <img src="heart.svg" alt="love" /> blogs</a>
    </li>
    <li>
      I <img src="heart.svg" alt="love" /> web door Demi van der Maarl
    </li>
  </ul>
</nav>

<style>
  ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  li > img {
    width: 2rem;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
  }

  li a {
    display: flex;
    align-items: center;
  }
  li a img {
    width: 2rem;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
  }

  ul {
    padding: 1rem;
  }
  li a {
    color: black;
    text-decoration: none;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    height: 4rem;
    container-type: inline-size;
    background-color: var(--accent-pink);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    @supports (--css: variables) {
      background-color: var(--enhanced-accent-pink);
    }
  }

  li:nth-child(3) {
    padding-left: 5rem;
  }
  /*nav footer */
  li:last-child {
    display: flex;
    position: relative;
    top: 5rem;
    left: 0;
    opacity: 0.8;
  }

  li span svg {
    width: 2rem;
    height: 3rem;
  }
  .desktop-home-button {
    display: none;
  }

  .mobile-home-button {
    font-size: 1.5rem;
    color: white;
    position: relative;
    /* margin-right: 20rem; */
    z-index: 1;
  }
  /* css heart */
  .heart {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    transform: rotate(-45deg);
    left: 8px;
    top: 10px;
    z-index: -1;
  }

  .heart::before,
  .heart::after {
    content: "";
    position: absolute;
    background-color: red;
    border-radius: 50%;
  }

  .heart::before {
    top: -30px;
    left: -1px;
    width: 50px;
    height: 50px;
  }

  .heart::after {
    left: 30px;
    width: 50px;
    height: 50px;
  }

  /* tablet media query */
  @media (min-width: 900px) {
    .mobile-home-button {
      display: none;
      position: absolute;
      left: -9999999999px;
    }

    .desktop-home-button {
      display: block;
    }

    li:last-child {
      top: 0;
      margin-left: auto;
      color: var(--black);
    }
  }
  @container (min-width: 28em) {
    .mobile-home-button {
      display: none;
      position: absolute;
      left: -9999999999px;
    }

    .desktop-home-button {
      display: block;
    }

    li:last-child {
      top: 0;
      margin-left: auto;
      color: var(--black);
    }
  }
</style>
