<nav>
  <ul>
    <li class="desktop-home-button">
      <a href="/"
        >I <span role="img" aria-label="love">&#10084;&#65039;</span> Home</a
      >
    </li>
    <li class="mobile-home-button">
      <div class="heart"></div>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/"
        >I <span role="img" aria-label="love">&#10084;&#65039;</span> blogs</a
      >
    </li>
    <li>
      I <span role="img" aria-label="love">&#10084;&#65039;</span> web door Demi
      van der Maarl
    </li>
  </ul>
</nav>
<style>
  main body {
    margin: 0;
  }
  ul li {
    list-style-type: none;
  }
  ul {
    padding: 1rem;
  }
  li a {
    color: black;
    text-decoration: none;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    height: 4rem;
    container-type: inline-size;
    background-color: pink;
  }
  li:nth-child(3) {
    padding-left: 5rem;
  }
  /*nav footer */
  li:last-child {
    display: flex;
    position: relative;
    top: 5rem;
    left: 0;
    opacity: 0.8;
  }
  .desktop-home-button {
    display: none;
  }

  .mobile-home-button {
    font-size: 1.5rem;
    color: white;
    position: relative;
    /* margin-right: 20rem; */
    z-index: 1;
  }
  /* css heart */
  .heart {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    transform: rotate(-45deg);
    left: 8px;
    top: 10px;
    z-index: -1;
  }

  .heart::before,
  .heart::after {
    content: "";
    position: absolute;
    background-color: red;
    border-radius: 50%;
  }

  .heart::before {
    top: -30px;
    left: -1px;
    width: 50px;
    height: 50px;
  }

  .heart::after {
    left: 30px;
    width: 50px;
    height: 50px;
  }

  /* tablet media query */
  @media (min-width: 900px) {
    .mobile-home-button {
      display: none;
      position: absolute;
      left: -9999999999px;
    }

    .desktop-home-button {
      display: block;
    }

    li:last-child {
      top: 0;
      margin-left: auto;
      color: black;
    }
  }
  @container (min-width: 28em) {
    .mobile-home-button {
      position: absolute;
      left: -9999999999px;
    }

    .desktop-home-button {
      display: block;
    }

    li:last-child {
      top: 0;
      margin-left: auto;
      color: black;
    }
  }
</style>
