---
import Layout from "../layouts/Layout.astro";
import Blogpot from "../components/Blogpot.astro";
import Nav from "../components/nav.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Nav />
    <Blogpot />
  </main>
</Layout>

<style>
  main {
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
