---
import Layout from "../layouts/Layout.astro";
import Blogpot from "../components/Blogpot.astro";
import Nav from "../components/nav.astro";
export let data;
---

<Layout title="I ❤️ web">
  <main>
    <Nav />
    <section class="homepage">
      <h1>
        <span class="I-header">I</span>
        <div aria-label="love" class="heart"></div>
        <span class="web-header">Web</span>
      </h1>
    </section>
    <Blogpot />
  </main>
</Layout>

<style>
  main {
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .homepage {
    display: flex;
    container-type: inline-size;
  }

  h1 {
    font-size: 2rem;
  }
  @container (min-width: 500px) {
    h1 {
      font-size: 5rem;
    }
  }
  /* css heart */
  .heart {
    width: 100px;
    height: 100px;
    background-color: red;
    transform: rotate(-45deg);
    top: 20rem;
  }

  .heart::before,
  .heart::after {
    content: "";
    position: absolute;
    background-color: red;
    border-radius: 50%;
  }

  .heart::before {
    top: -104px;
    left: -5px;
    width: 200px;
    height: 240px;
  }

  .heart::after {
    top: -1px;
    left: 16px;
    width: 140px;
    height: 102px;
  }
</style>
