---
import Layout from "../layouts/Layout.astro";
import Blogpot from "../components/Blogpot.astro";
import Nav from "../components/nav.astro";
import Overview from "../components/overview.astro";
export let data;
---

<Layout title="I ❤️ web">
  <main>
    <Nav />
    <section class="homepage">
      <h1>
        <span class="I-header">I</span>
        <svg
          width="488"
          height="437"
          viewBox="0 0 488 437"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="242.953"
            y="70.3433"
            width="259.265"
            height="259.265"
            transform="rotate(45 242.953 70.3433)"
            fill="#B41010"></rect>
          <ellipse
            cx="138.342"
            cy="138.677"
            rx="138.342"
            ry="138.677"
            fill="#B41010"></ellipse>
          <ellipse
            cx="348.702"
            cy="138.677"
            rx="138.342"
            ry="138.677"
            fill="#B41010"></ellipse>
        </svg>

        <span class="web-header">Web</span>
      </h1>
    </section>
    <section class="blog-overview">
      <h2>I <img src="heart.svg" alt="love" /> blogs</h2>
      <Overview />
    </section>

    <Blogpot />
  </main>
</Layout>

<style>
  .homepage {
    display: flex;
    container-type: inline-size;
  }

  h1 {
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 5rem;
  }
  h1 span {
    padding: 1em;
  }
  h1 svg {
    width: 5em;
    height: auto;
    animation: pulse 2s infinite;
    transform-origin: center;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  h2 img {
    width: 5em;
  }
  @container (min-width: 50em) {
    h1 {
      font-size: 4rem;
      flex-direction: row;
      margin: auto;
      padding: 5rem;
    }
  }
  /* css heart */
  .heart {
    width: 100px;
    height: 100px;
    background-color: red;
    transform: rotate(-45deg);
    top: 20rem;
  }

  .heart::before,
  .heart::after {
    content: "";
    position: absolute;
    background-color: red;
    border-radius: 50%;
  }

  .heart::before {
    top: -104px;
    left: -5px;
    width: 200px;
    height: 240px;
  }

  .heart::after {
    top: -1px;
    left: 16px;
    width: 140px;
    height: 102px;
  }
</style>
