---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --main-pink: #ffe8e8;
    --enhanced-main-pink: lch(93.88% 8.63 20.31);
    --accent-pink: #ffb7b7;
    --enhanced-accent-pink: lch(81.33% 29.02 22.17);
    --main-red: #b41010;
    --enhanced-red: lch(38.83% 77.09 38.27);
    --white: #fff;
    --black: #000;
  }
  html body {
    font-family: "Playfair Display", serif;
    background-color: var(--main-pink);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  /* general styling */

  a {
    color: black;
    text-decoration: none;
  }

  button {
    border: 0;
    border-radius: 50px;
    background-color: var(--accent-pink);
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-weight: bold;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0.5rem;
  }
  button:hover {
    background-color: var(--main-red);
    color: var(--white);
  }

  button:focus-visible {
    outline: solid var(--main-red);
  }

  li:focus-visible {
    outline: solid var(--main-red);
  }
  a:focus-visible {
    outline: solid var(--main-red);
  }
</style>
